*{
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color: rgb(157, 79, 230);
    color: #fff;
    padding: 20px;
    border-bottom: 10px solid rgb(57, 4, 106);
    text-transform: uppercase;
    font-style: italic;
}

.div-container{
    padding: 20px;
    border-bottom: 5px solid rgb(57, 4, 106);
}

.form-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    
}

form button{
    background-color: #009432;
    border: none;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    border-radius: 10%;
    color: #fff;
}