*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    
}

header{
    display: flex;
    background-color: rgb(157, 79, 230);
    color: #fff;
    padding: 20px;
    border-bottom: 10px solid rgb(57, 4, 106);
    text-transform: uppercase;
    font-style: italic;
    align-items: center;
    justify-content: center;
}

header h1{
    text-align: center;

}

.div-container{
    padding: 20px;
    border-bottom: 5px solid rgb(57, 4, 106);
}

.form-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

form label{
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}

form input{
    border: none;
    border-bottom: 2px solid black;
    margin-right: 30px;
}

form button{
    display: flex;
    background-color: #009432;
    border: none;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    border-radius: 10%;
    color: #fff;
    margin-left: 20px;
}

li{
    border-bottom: 5px solid rgb(57, 4, 106);
}

.task-container ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
    align-items: center;
}